<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/osobnosti" text="" icon="/assets/icon/arrow-back.svg" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">
        <ion-icon slot="icon-only" src="/assets/icon/menu.svg" class="big"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="false" [options]="sliderConfig">

    <ion-slide *ngFor="let o of o_data; let i = index">
      <ion-card>
        <ion-card-header text-center>
          <ion-card-title padding>{{ o.name }}</ion-card-title>
          <ion-card-subtitle>
            {{ o.subtitle }}<br>
            {{ o.subtitle2 }}
          </ion-card-subtitle>
        </ion-card-header>

        <img src="assets/images/osobnosti/{{ o.img }}" alt="{{ o.name }}" class="drop-shadow">

        <ion-card-content>
          {{ o.bio }}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>