ion-card {
  --background: #fff;
  box-shadow: 15px 15px 15px rgba(255,0,0,.4);

  img {
      width: 50%;
      margin: 10px auto;
  }
}

ion-card-content {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
}
// ion-card-title {

// }
