<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/icon/arrow-back.svg" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">
        <ion-icon slot="icon-only" src="/assets/icon/menu.svg" class="big"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <!-- <h1 text-center padding-top>INFORMÁCIE</h1> -->

  <ion-card>
    <ion-card-header text-center>
      <ion-card-title padding-top>INFORMÁCIE</ion-card-title>
    </ion-card-header>

    <ion-card-content text-left>
      <p>Slovenská národná rada bola prvým politickým reprezentantom slovenského národa. Túto úlohu zastávala aj v ďalších zlomových obdobiach dejín Slovenska – v rokoch 1914-1918 pri formovaní Československej republiky a v rokoch 1943-1945 pri obnovení Československej republiky na zásadách slobody a demokracie s dôrazom na štátno-politické usporiadanie a spolunažívanie Čechov a Slovákov ako dvoch bratských národov na princípe rovného s rovným.  </p>
      <p>Prvým politickým programom SNR boli Žiadosti slovenského národa  vyhlásené 10. mája 1848 v Liptovskom sv. Mikuláši. Na dlhé desaťročia sa stali základným politickým dokumentom slovenského národného hnutia. Vtedy sa začala dlhá cesta Slovákov k samostatnosti, k vytvoreniu  samostatnej Slovenskej republiky. Slovenská národná rada, sprvu ako politický reprezentant slovenského národa, neskôr – v demokratických podmienkach – zákonodarný orgán Slovenska,  zohrala historicky mimoriadne významnú úlohu. V zlomových rokoch reprezentovala slovenský národ a Slovensko v boji za národnú slobodu a demokraciu. Tieto procesy boli ukončené v roku 1993 vznikom Slovenskej republiky.  </p>
      <p>Aplikácia sprístupňuje kľúčové dokumenty a informácie o dejinách a úlohe SNR. Obsahuje prepisy originálnych štátotvorných dokumentov, mapuje vývoj štátnych symbolov na území Slovenska od vzniku SNR v roku 1848 po súčasnosť, približuje osobnosti, ktoré sa významnou mierou podieľali na formovaní spoločensko-politického vývoja na Slovensku a mapuje kľúčové udalosti histórie slovenskej štátnosti. </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center>
      <ion-card-title padding-top>O APLIKÁCII</ion-card-title>
    </ion-card-header>

    <ion-card-content text-left>
      <p>Aplikáciu vytvorili Slovenská národná galéria a Múzeum Slovenských národných rád v Myjave.</p>
      <p>
        Vývoj: Igor Rjabinin<br>
        Dizajn: Pavlína Morháčová<br>
        Produkcia: Lukáš Štepanovský, Michal Čudrnák<br>
        Obsah a odborná asistencia: Gabriela Podušelová<br>
      </p>
      <p>
        Zdroje obrazových materiálov: <br>
        Literárny archív SNK, Múzeum Slovenských národných rád v Myjave
      </p>
      <p>
        Zdrojový kód je dostupný na
        <a href="https://github.com/SlovakNationalGallery/MuzeumSNRApp" target="_blank">github.com/SlovakNationalGallery/MuzeumSNRApp</a>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>