.ios, .md {
  ion-card {
    --background: #fff;
    box-shadow: 7px 7px 7px rgba(255,0,0,.4);
    @media (min-width:600px) {
      box-shadow: 15px 15px 15px rgba(255,0,0,.4);
    }

    img {
        width: 80%;
        margin: 7px auto 15px;
        @media (min-width:600px) {
          width: 50%;
          margin: 10px auto 20px;
        }

    }
  }

  ion-card-content {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    white-space: pre-line;
    line-height: 1.4em;

    @media (min-width:600px) {
      padding-left: 60px;
      padding-right: 60px;
      font-size: 20px;
    }


    p {
        padding-bottom: 15px;
    }
  }
}