ion-card-title, h1 {
  font-size: 60px;
}

ion-card-subtitle {
    font-size: 20px;
    text-transform: none;
}

a.no-underline {
  text-decoration: none;
  color: var(--ion-text-color);
}

ion-icon {
    &.big {
      width: 40px;
      height: 40px;
    }

    &.bigger {
      width: 80px;
      height: 80px;
    }
}

.drop-shadow {
  box-shadow: 15px 15px 15px rgba(255,0,0,.4);
}

.img-full {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 1px;
}

ion-back-button {
  --min-width: 40px !important;
}

img.circle {
    border-radius: 50%;
}


// cards

