<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/icon/arrow-back.svg" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">
        <ion-icon slot="icon-only" src="/assets/icon/menu.svg" class="big"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center padding-top>OSOBNOSTI</h1>

  <ion-grid>
    <ion-row *ngFor="let row of osobnosti_data_in_rows">
      <ion-col *ngFor="let o of row?.items; let i = index"  align-self-top text-center>
        <a [routerLink]="'/osobnosti/' + o.id" class="no-underline"  routerDirection="forward">
          <img src="assets/images/osobnosti/{{ o.img }}" alt="{{ o.name }}" class="img-full drop-shadow">
          <h2>{{ o.name }}</h2>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>