<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-title>dokumenty</ion-title> -->
    <ion-buttons slot="end">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <a href="home">
        <img src="assets/icon/menu.svg" alt="home">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center padding-top>OSOBNOSTI</h1>

  <ion-grid>
    <ion-row>
      <ion-col align-self-center text-center>
        <a href="osobnosti-cards" class="no-underline">
          <img src="assets/images/osobnosti/Srobar_SŠ -1@3x.png" alt="osobnost">
          <h2>Vavro Šrobár</h2>
        </a>
      </ion-col>
      <ion-col align-self-center text-center>
        <a href="osobnosti-cards" class="no-underline">
          <img src="assets/images/osobnosti/Blaho_SB -1@3x.png" alt="osobnost">
          <h2>Pavol Blaho</h2>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center text-center>
        <a href="osobnosti-cards" class="no-underline">
          <img src="assets/images/osobnosti/Blaho_SB -1@3x.png" alt="osobnost">
          <h2>Pavol Blaho</h2>
        </a>
      </ion-col>
      <ion-col align-self-center text-center>
        <a href="osobnosti-cards" class="no-underline">
          <img src="assets/images/osobnosti/Srobar_SŠ -1@3x.png" alt="osobnost">
          <h2>Vavro Šrobár</h2>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>