<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/icon/arrow-back.svg" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">
        <ion-icon slot="icon-only" src="/assets/icon/menu.svg" class="big"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>DOKUMENTY</h1>

  <ion-grid padding-top>
    <ion-row *ngFor="let row of dokumenty_data_in_rows" justify-content-center align-items-center>

      <ion-col *ngFor="let f of row?.items; let i = index" class="file" text-center>
        <a (click)="openLocalPdf(f.file, f.title)">
          <img src="assets/icon/file.svg" alt="pdf file" class="background-image drop-shadow img-full">
          <span class="year">{{ f.year }}</span>
          <span class="title">{{ f.title }}</span>
        </a>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
