<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-title>dokumenty</ion-title> -->
    <ion-buttons slot="end">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <a href="home">
        <img src="assets/icon/menu.svg" alt="home">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center padding-top>DOKUMENTY</h1>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/icon/file.svg" alt="pdf file" class="file">
      </ion-col>
      <ion-col>
        <a href="dokumenty" class="no-underline">
          <img src="assets/icon/file.svg" alt="pdf file" class="file">
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/icon/file.svg" alt="pdf file" class="file">
      </ion-col>
      <ion-col>
        <img src="assets/icon/file.svg" alt="pdf file" class="file">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/icon/file.svg" alt="pdf file" class="file">
      </ion-col>
      <ion-col>
        <img src="assets/icon/file.svg" alt="pdf file" class="file">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
