<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-title>dokumenty</ion-title> -->
    <ion-buttons slot="end">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <a href="home">
        <img src="assets/icon/menu.svg" alt="home">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center padding-top>DOKUMENTY</h1>

  <ion-grid>
    <ion-row *ngFor="let row of pdf_files_in_rows" justify-content-center align-items-center>

      <ion-col *ngFor="let f of row?.items; let i = index" class="file" text-center>
        <img src="assets/icon/file.svg" alt="pdf file" class="background-image">
        <span class="year">{{ f.year }}</span>
        <span class="title">{{ f.title }}</span>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
