span.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

span.year {
    position: absolute;
    top: 15%;
    right: 25%;
    font-size: 30px;
    color: var(--ion-color-secondary);
}

img.background-image {
    margin: 0 auto;
}
