<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/icon/arrow-back.svg" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">
        <ion-icon slot="icon-only" src="/assets/icon/menu.svg" class="big"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center padding>
    ŠTÁTNE<br>
    SYMBOLY
  </h1>

  <div *ngFor="let year of symboly_data_by_year | keyvalue">
    <h2 text-center>
      {{ formatYear(year.key) }}
    </h2>

    <ion-grid no-padding>
      <ion-row>
        <ion-col *ngFor="let s of year.value; let i = index" align-self-center text-center size="6">
          <a [routerLink]="'/statne-symboly/' + s.id" class="no-underline" routerDirection="forward">
            <img src="assets/images/statne-symboly/{{ s.year }}/{{ s.img }}" alt="{{ s.title }}" class="img-full drop-shadow">
            <h2>{{ s.title }}</h2>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>