<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/icon/arrow-back.svg" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">
        <ion-icon slot="icon-only" src="/assets/icon/menu.svg" class="big"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <h1 text-center padding-top>KALENDÁRIUM</h1> -->
  <div class="timeline">
    <div class="entries">
      <div class="entry">

        <div class="images">
          <img src="/assets/images/kalendarium/znak_uhorska.png" alt="" class="drop-shadow">
        </div>

        <h2 class="title half">1914</h2>
        <h3 class="subtitle">
          15. februára 1914
        </h3>
        <div class="body">
          <p>Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. </p>
        </div>
        <h3 class="subtitle">
          25. februára 1914
        </h3>
        <div class="body">
          <p>Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom,
          čo sa v ten rok udialo.</p>
        </div>
      </div>
      <div class="entry">
        <div class="images">
          <img src="/assets/images/kalendarium/znak_uhorska.png" alt="" class="drop-shadow">
        </div>
        <div class="title half">1915</div>
        <h3 class="subtitle">15. februára 1914</h3>
        <div class="body">
          <p>Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom,
          čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo.
          Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom,
          čo sa v ten rok udialo.</p>
        </div>
        <h3 class="subtitle">25. februára 1914</h3>
        <div class="body">
          <p>Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom,
          čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo.
          Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom, čo sa v ten rok udialo. Nejaká správička o tom,
          čo sa v ten rok udialo.</p>
        </div>
      </div>
      <div class="entry">
        <div class="title half">1918</div>
        <div class="body">
          <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>