$bullet-size: 8px;

.bg-container {
  background-color: var(--ion-background-color);
  position: relative;
  z-index: 5;
  h1 {
    margin: 0 auto;
  }
}

.timeline {
  min-height:100vh;
  margin:0;
  &:before {
    content: '';
    position: fixed;
    top:0px;
    left: 40px;
    bottom:0px;
    transform:translateX(-50%);
    width:4px;
    background-color:var(--ion-color-primary);
    @media (min-width:600px) {
      left:50%;
    }

  }
  .entries {
    width:calc(100% - 40px);
    max-width:600px;
    margin:auto;
    position: relative;
    left:-5px;
    .entry {
      width: 100%;
      float:left;
      padding:20px;
      padding-left:60px;
      clear:both;
      text-align:left;
      @media (min-width:600px) {
        text-align:right;
        width:calc(50% - 40px);
        padding-left:20px;
      }

      &:not(:first-child) {
        margin-top:-60px;
      }
      .title {
        font-size:32px;
        margin-bottom:12px;
        position: relative;
        color:var(--ion-color-primary);
        font-weight: bold;
        &:before {
          content: '';
          position: absolute;
          width:8px;
          height:8px;
          border:4px solid var(--ion-color-primary);
          background-color: var(--ion-color-primary);
          border-radius:100%;
          top:50%;
          transform:translateY(-50%);
          z-index:1000;
          left: -30px;
          @media (min-width:600px) {
            left: auto;
            right:-73px;
          }
        }
        &.big:before {
          width:24px;
          height:24px;
          transform:translate(8px,-50%);
        }
        &.half:before {
          height: $bullet-size * 2;
          width: $bullet-size;
          border-radius: 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-bottom-right-radius: $bullet-size * 2;
          border-top-right-radius: $bullet-size * 2;
          @media (min-width:600px) {
            border-bottom-left-radius: $bullet-size * 2;
            border-top-left-radius: $bullet-size * 2;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }

          transform:translate(-$bullet-size+1,-50%);
        }
      }
      .body {
        // color:#aaa;
        p {
          line-height:1.4em;
        }
      }
      .images {
        display: none;
        @media (min-width:600px) {
          display: block;
          position: absolute;
          transform:translateY(20px);
          right: 0px;
          img {
            max-width: calc(50% - 40px);
            margin-bottom: 40px;
          }
        }
      }
      @media (min-width:600px) {
        &:nth-child(2n) {
          text-align:left;
          float:right;
          .title {
            &:before {
              left:-63px;
            }
            &.big:before {
              transform:translate(-8px,-50%);
            }
            &.half:before {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              border-bottom-right-radius: $bullet-size * 2;
              border-top-right-radius: $bullet-size * 2;
              transform:translate($bullet-size - 1,-50%);
            }
          }
          .images {
            left: 0px;
          }
        }
      }
    }
  }
}