<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/icon/arrow-back.svg" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">
        <ion-icon slot="icon-only" src="/assets/icon/menu.svg" class="big"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <h1 text-center padding-top>KALENDÁRIUM</h1> -->
  <div class="timeline">
    <div class="entries">
      <div class="entry">

        <!-- <div class="images">
          <img src="/assets/images/kalendarium/1843-narecja.jpg" alt="" class="drop-shadow">
        </div> -->

        <h2 class="title half">1843</h2>
        <h3 class="subtitle">
          11. – 16. júl 1843
        </h3>
        <div class="body">
          <p>Ľ. Štúr, J.M. Hurban, M. M .Hodža sa v Hlbokom dohodli na základných pravidlách nového spisovného jazyka a rozhodli sa
          spísať jeho gramatiku – Ľ.Štúr : Nárečja slovenskuo alebo potreba písaňja v tomto nárečí, Náuka reči a literatúry
          slovenskej, 1846. </p>
        </div>
      </div>
      <div class="entry">
        <h2 class="title half">1844</h2>
        <h3 class="subtitle">26. – 28. august 1844</h3>
        <div class="body">
          <p>Zakladajúce valné zhromaždenie prvého celonárodného kultúrneho spolku Tatrín v Liptovskom Mikuláši.</p>
        </div>
      </div>
      <div class="entry">
        <!-- <div class="images">
          <img src="/assets/images/kalendarium/1845-narodnjenoviny.jpg" alt="" class="drop-shadow">
        </div> -->
        <h2 class="title half">1845</h2>
        <h3 class="subtitle">1. august 1845</h3>
        <div class="body">
          <p>V Bratislave vychádza prvé číslo Slovenských národných novín.</p>
        </div>
      </div>
      <div class="entry">
        <h2 class="title half">1846</h2>
        <!-- <h3 class="subtitle">1846</h3> -->
        <div class="body">
          <p>J. M. Hurban začína vydávať časopis <em>Slovenskje pohľadi na vedi, umeňja a literatúru</em>.</p>
        </div>
      </div>
      <div class="entry">
        <h2 class="title half">1847</h2>
        <h3 class="subtitle">11. novembrer 1847</h3>
        <div class="body">
          <p>V Bratislave začína posledný stavovský snem, na ktorom sa presadzuje program maďarského reformného hnutia.</p>
        </div>
        <h3 class="subtitle">21. december 1847</h3>
        <div class="body">
          <p>Ľ. Štúr prednáša snemu slovenský politický program, požadujúci zrušenie poddanstva, rovnosť pred zákonom a zaručenie
          základných národných práv Slovákov.</p>
        </div>
      </div>
      <div class="entry">
        <h2 class="title half">1848</h2>
        <div class="images">
          <img src="/assets/images/kalendarium/1848-1-LKossuth.jpg" alt="" class="drop-shadow"><br>
          <img src="/assets/images/kalendarium/1848-2-Povstanie.jpg" alt="" class="drop-shadow"><br>
          <img src="/assets/images/kalendarium/1848-3-ludove-zhromazdenie-SVK_SNG.O_5302.jpg" alt="" class="drop-shadow"><br>
        </div>
        <h3 class="subtitle">15. január 1848</h3>
        <div class="body">
          <p>Ľ. Štúr žiada na sneme uzákonenie slovenského vyučovania v nižších školách a používanie materinského jazyka pri
          bohoslužbách.</p>
        </div>
        <h3 class="subtitle">3. – 6. marec 1848</h3>
        <div class="body">
          <p>Ľ. Košuth na sneme požaduje zrušenie absolutizmu, poddanstva, rovnosť pred zákonom, nezávislú uhorskú vládu.</p>
        </div>
        <h3 class="subtitle">6. marec 1848</h3>
        <div class="body">
          <p>Ľ. Štúr na sneme podporuje požiadavku okamžitého zrušenia poddanstva a občianskych reforiem.</p>
        </div>
        <h3 class="subtitle">13. marec 1848</h3>
        <div class="body">
          <p>Povstanie vo Viedni, odstránenie absolutizmu, otvorenie cesty konštitučnej monarchii.</p>
        </div>
        <h3 class="subtitle">18. marec 1848</h3>
        <div class="body">
          <p>Uhorský snem prijíma najdôležitejšie požiadavky marcových zákonov.</p>
        </div>
        <h3 class="subtitle">28. marec 1848</h3>
        <div class="body">
          <p>Ľudové zhromaždenie v Liptovskom Mikuláši prijíma Liptovské žiadosti.</p>
        </div>
        <h3 class="subtitle">27. – 30. marec 1848</h3>
        <div class="body">
          <p>V piatich dedinách Hontianskej stolice vypukla vzbura pod vedením básnika Janka Kráľa a učiteľa Jána Rotaridesa.
          Vzbúrenci žiadajú dôsledné zrušenie poddanstva, právo používania slovenčiny v úradoch a v školách. Jej vodcovia po
          potlačení vzbury patria k prvým väzňom revolúcie.</p>
        </div>
        <h3 class="subtitle">11. apríl 1848</h3>
        <div class="body">
          <p>Panovník v Bratislave podpisuje nové zákony a ukončuje snem.</p>
        </div>
        <h3 class="subtitle">28. apríl 1848</h3>
        <div class="body">
          <p>Brezová pod Bradlom, ľudové zhromaždenie prijíma Nitrianske žiadosti, ktoré koncipoval J. M. Hurban.</p>
        </div>
        <h3 class="subtitle">5. máj 1848</h3>
        <div class="body">
          <p>Uhorská vláda ako dôsledok nepokojov a vzbúr v slovenských stoliciach vyhlasuje štatárium (stanné právo).</p>
        </div>
        <h3 class="subtitle">11. máj 1848</h3>
        <div class="body">
          <p>Vyhlásenie Žiadostí slovenského národa na ľudovom zhromaždení, ktoré sa koná v Ondrašovej (dnes časť Liptovského
          Mikuláša). Ich spoluautorom je M. M. Hodža.</p>
        </div>
        <h3 class="subtitle">12. máj – 1. jún 1848</h3>
        <div class="body">
          <p>Uhorská vláda vydáva zatykač na Ľudovíta Štúra (12. máj 1848), na J. M. Hurbana (22. máj 1848) a na Michala M. Hodžu (1.
          jún 1848).</p>
        </div>
        <h3 class="subtitle">2. – 12. jún 1848</h3>
        <div class="body">
          <p>Slovanský zjazd v Prahe, na ktorom J. M. Hurban prednáša <em>Žiadosti Slovákov a Rusínov uhorských</em>.</p>
        </div>
        <h3 class="subtitle">5. júl 1848</h3>
        <div class="body">
          <p>Rokovanie uhorského snemu v Pešti poznačené silným maďarským nacionalizmom, žiadosťou o rozšírenie kompetencie uhorských
          orgánov, prijatím zákonov o budovaní uhorskej armády (honvédi) a vydávaní papierových peňazí (košutovky). Zvyšuje sa
          napätie medzi Pešťou a Viedňou.</p>
        </div>
        <h3 class="subtitle">16. september 1848</h3>
        <div class="body">
          <p>Viedeň, vznik <em>Slovenskej národnej rady</em>, prvého politického orgánu Slovákov v moderných dejinách. Jej politickými členmi
          sú J. M. Hurban (predseda), Ľ. Štúr, M. M. Hodža, vojenskými členmi českí velitelia Bedřich Bloudek, František Zach a
          Bernard Janeček.</p>
        </div>
      </div>
      <div class="entry">
        <h2 class="title half">Septembrová výprava 1848</h2>
        <div class="images">
          <img src="/assets/images/kalendarium/1848-4-slovenskidobrovolnici.jpg" alt="" class="drop-shadow"><br>
          <img src="/assets/images/kalendarium/1848-5-franta-pepa-jednicka-GMB_C_8069.jpg" alt="" class="drop-shadow"><br>
        </div>
        <h3 class="subtitle">18. – 28. september 1848</h3>
        <div class="body">
          <p>Prvé samostatné vystúpenie Slovákov v moderných dejinách.</p>
        </div>
        <h3 class="subtitle">19. september 1848</h3>
        <div class="body">
          <p>Ľ. Štúr na zhromaždení v Myjave vyhlasuje v mene Slovenskej národnej rady nezávislosť (autonómiu) Slovenska od uhorskej
          vlády.</p>
        </div>
        <h3 class="subtitle">22. september 1848</h3>
        <div class="body">
          <p>Úspešná bitka slovenského dobrovoľníckeho zboru v Brezovej pod Bradlom pod vedením Bedřicha Bloudka, Samuela Štefanoviča
          (povýšeného SNR ako prvého dobrovoľníka na kapitána) a Poliaka K. Bakowského.</p>
        </div>
        <h3 class="subtitle">26. september 1848</h3>
        <div class="body">
          <p>Neúspešná výprava proti Senici. Porážka zapríčinená nedostatočnou výzbrojou, výcvikom a protivníkom s pravidelným
          vojskom.</p>
        </div>
        <h3 class="subtitle">27. – 28. september 1848</h3>
        <div class="body">
          <p>Víťazstvo slovenských dobrovoľníkov v Starej Turej, následná porážka na Poriadí neďaleko Myjavy. Padlo 12 slovenských
          dobrovoľníkov, 18 bolo zajatých. Po ústupe na Moravu bol zbor formálne rozpustený.</p>
          <p>
            <em>„Prví bitvy velmi dobře se nám zdařily, vyhráli sme jích pět. Ten národ nezhyne! Našim povstáním dali sme mu, národu tak
          dlouho bezdějinnému, děj a to jest největší mravní pusobení.“</em><br>
          Ľ. Štúr, 7. október 1848, list Mariane Božene Staňkovej</p>
        </div>
        <h3 class="subtitle">28. september 1848</h3>
        <div class="body">
          <p>Budín, vražda novovymenovaného kráľovského komisára a cisárskeho vojenského veliteľa pre Uhorsko F. Lamberga.</p>
        </div>
        <h3 class="subtitle">3. október 1848</h3>
        <div class="body">
          <p>Panovník rozpúšťa uhorský snem a vyhlasuje v Uhorsku vojnový stav. Moc preberá revolučný <em>Výbor na obranu vlasti</em>, ktorý
          pod vedením Ľ. Košúta plní úlohu dočasnej vlády až do apríla 1849.</p>
        </div>
        <h3 class="subtitle">6. október 1848</h3>
        <div class="body">
          <p>Povstanie vo Viedni. Odchod panovníka do Olomouca, snemu do Kroměříža. Povstanie potlačené koncom októbra.</p>
        </div>
        <h3 class="subtitle">18. október 1848</h3>
        <div class="body">
          <p>Vedenie Slovenskej národnej rady vydáva v Prahe leták <em>„Čo kazí Slovákou?“</em> podpísaný J. M. Hurbanom, Ľ. Štúrom a M. M.
          Hodžom. Autori upozorňujú na náboženskú neznášanlivosť a na odrodilstvo meštianskej vrstvy ako príčiny nezdaru
          septembrového povstania.</p>
        </div>
        <h3 class="subtitle">21. október 1848</h3>
        <div class="body">
          <p>Boje na území Slovenska, porážka maďarských honvédov a gardistov v Kostolnej pri Trenčíne, obsadenie Záhoria, formovanie
          menšieho slovenského dobrovoľníckeho zboru pod vedením Bernarda Janečka.</p>
        </div>
        <h3 class="subtitle">20. a 26. október 1848</h3>
        <div class="body">
          <p>Štatariálnym súdom v Hlohovci je odsúdený a popravený 2. októbra 1848 Viliam Šulek a 26. októbra 1848 splnomocnenec SNR
          Karol Holuby. Odsúdení a popravení sú aj ďalší účastníci povstania.</p>
        </div>
        <h3 class="subtitle">20. november 1848</h3>
        <div class="body">
          <p>Ľ. Štúr a J. M. Hurban a ďalší členovia SNR vydávajú pod názvom „K národu slovenskiemu“, novú výzvu k Slovákom do boja
          za národnú slobodu a rovnoprávnosť.</p>
        </div>
        <h3 class="subtitle">2. december 1848</h3>
        <div class="body">
          <p>V Olomouci abdikuje Ferdinand V. a cisárom sa stáva len 18 ročný František Jozef I. Nová vláda nastupuje 21. novembra
          1848, má zastaviť revolučné pohyby a viesť k usporiadaniu ríše.</p>
        </div>
        <h3 class="subtitle">4. decembra 1848</h3>
        <div class="body">
          <p>Slovenskí dobrovoľníci v cisárskej armáde začínajú cez Jablunkovský priesmyk ofenzívu na Kysuciach.</p>
        </div>
      </div>
      <div class="entry">
        <div class="images">
          <img src="/assets/images/kalendarium/1848-6-jan_francisci-SVK_SNG.O_5301.jpg" alt="" class="drop-shadow">
        </div>
        <h2 class="title half">Druhá, tzv. zimná výprava 1848-1849</h2>
        <div class="body">
          <p>V zimnej výprave pôsobia dva dobrovoľnícke zbory. Väčšiemu velí Bedřich Bloudek a tvoria ho dobrovoľníci najmä z
          Liptova, Turca a Gemera. Operujú najmä na strednom a východnom Slovensku do konca apríla 1849. Druhému zboru velí
          Bernard Janeček, od marca 1849 Ján Francisci. Zbor sa formuje v podjavorinskej oblasti, v apríli ustupuje do Bratislavy
          a Skalice, kde sa stáva základom letnej výpravy. Hurban a Štúr na zhromaždeniach na severnom a východnom Slovensku
          agitujú za utvorenie slovenskej korunnej krajiny.</p>
        </div>
        <h3 class="subtitle">4. - 8. december 1848</h3>
        <div class="body">
          <p>Slovenskí dobrovoľníci sú v Čadci, kde je zriadená <em>Dočasná spravujúca rada</em>. 6. decembra 1848 vydáva SNR výzvu <em>„K národu slovenskjemu“</em>. Tieto rady neskôr pôsobia aj v Turčianskej, Liptovskej, Oravskej a Zvolenskej stolici. Slovenskí
          vlastenci sa nádejajú, že sú základom budúcej slovenskej samosprávy a tak ich nazývajú národné rady.</p>
        </div>
        <h3 class="subtitle">9. december 1848</h3>
        <div class="body">
          <p>Ľ. Štúr a J. M. Hurban agitujú v Kysuckom Novom Meste za nábor dobrovoľníkov.</p>
        </div>
        <h3 class="subtitle">11. december 1848</h3>
        <div class="body">
          <p>Slovenskí dobrovoľníci za účasti Štúra a Hurbana pod vojenským velením Bedřicha Bloudka pôsobia najmä na severe
          Slovenska a prvý raz sa s maďarskými silami stretávajú v ozbrojenom boji pri Budatíne. Následne sa sťahujú na Moravu.</p>
        </div>
        <h3 class="subtitle">14. december 1848</h3>
        <div class="body">
          <p>Cisárska armáda začína ťaženie do Uhorska a bez väčšieho odporu obsadzuje jeho značnú časť. Prívrženci Košúta sa sťahujú
          za rieku Tisu. Uhorský snem a vláda sa presídľujú do Debrecína.</p>
        </div>
        <h3 class="subtitle">21. december 1848</h3>
        <div class="body">
          <p>Druhý príchod Ľ. Štúra, J. M. Hurbana a slovenských dobrovoľníkov do Čadce.</p>
        </div>
      </div>
      <div class="entry">
        <div class="images">
          <img src="/assets/images/kalendarium/1849-1-vycvik-SVK_GNZ.K_234.jpg" alt="" class="drop-shadow">
        </div>
        <h2 class="title half">1849</h2>
        <h3 class="subtitle">2. január 1849</h3>
        <div class="body">
          <p>Druhý útok slovenských dobrovoľníkov pod velením Bedřicha Bloudka a cisárskeho vojska na Budatín. Obsadenie Žiliny, kde
          povstalci pretrvajú asi týždeň. Týmto víťazstvom si otvárajú cestu dovnútra Slovenska. Táto druhá bitka pozdvihuje
          sebavedomie slovenských dobrovoľníkov.</p>
        </div>
        <h3 class="subtitle">Január 1849</h3>
        <div class="body">
          <p>Vystúpenia Ľ. Štúra a J. M. Hurbana na zhromaždeniach ľudu.</p>
          <p>4. január – Žilina, 10. január – Prievidza, 11. január – Slovenské Pravno, 12. – 13. január – Mošovce, Martin, 17. – 18.
          január – Sučany, Turany, 29. január – Martin, odchod z Turca do Kremnice, 5. január a 6. február – Banská Bystrica,
          odchod do Brezna odkiaľ spolu s cisárskym vojskom odchádza Ľ. Štúr do Levoče, Prešova a Košíc.</p>
        </div>
        <h3 class="subtitle">16. – 17. január 1849</h3>
        <div class="body">
          <p>Boje pri Turčeku na sever od Kremnice. Honvédi 24. januára vyprázdňujú Kremnicu a ustupujú do Banskej Bystrice.</p>
        </div>
        <h3 class="subtitle">29. január 1849</h3>
        <div class="body">
          <p>Dobrovoľnícka jednotka pod velením Františka Zacha vytláča z Kraľovianskeho priesmyku oravských gardistov.</p>
        </div>
        <h3 class="subtitle">29. január 1849</h3>
        <div class="body">
          <p>Zhromaždenie v Martine, na ktorom J.M. Hurban prvý raz verejne prednáša nový slovenský program žiadajúci oddelenie
          Slovenska od Uhorska a jeho autonómne postavenie v rámci monarchie.</p>
        </div>
        <h3 class="subtitle">5. február 1849</h3>
        <div class="body">
          <p>Maďarská armáda pod vedením generála A. Gorgeya poráža slovenských dobrovoľníkov a cisárske jednotky na Branisku, čím si
          otvára ústupovú cestu na Prešov a Košice.</p>
        </div>
        <h3 class="subtitle">7. – 8 . február 1849</h3>
        <div class="body">
          <p>Slovenskí dobrovoľníci opúšťajú Dolný Kubín a mieria na Liptov. 11. februára prichádzajú do Liptovského Mikuláša.</p>
        </div>
        <h3 class="subtitle">15. február 1849</h3>
        <div class="body">
          <p>Slovenskí dobrovoľníci odchádzajú z Liptova na Pohronie.</p>
        </div>
        <h3 class="subtitle">17. – 19. február 1849</h3>
        <div class="body">
          <p>Slovenskí dobrovoľníci prichádzajú do Brezna (Ján Chalúpka), a následne sa presúvajú do Tisovca.</p>
        </div>
        <h3 class="subtitle">26. február 1849</h3>
        <div class="body">
          <p>Porážka nepripravených slovenských dobrovoľníkov maďarskými gardistami pri Muráni.</p>
        </div>
        <h3 class="subtitle">28. február 1849</h3>
        <div class="body">
          <p>Ľ. Štúr sa v Košiciach stretáva s Jonášom Záborským. Štúr a Hurban sa takmer stávajú obeťami atentátu. Kupeckí subjekti
          sa radili o ich usmrtení počas noci, no napokon nenabrali odvahu čin vykonať.</p>
        </div>
        <h3 class="subtitle">Marec 1849</h3>
        <div class="body">
          <p>Postup slovenských dobrovoľníkov: 3. – 4. marec – Prešov, 6. – 7. marec – Liptovský Mikuláš, 8.marec – Dolný Kubín, 10.
          – 13. marec – Turiec, 14. Marec – Čadca, následne cez Jablunkov a Tešín do Olomouca.</p>
        </div>
        <h3 class="subtitle">7. marec 1849</h3>
        <div class="body">
          <p>Panovník rozpúšťa uhorský snem a vyhlasuje oktrojovanú ústavu.</p>
        </div>
        <h3 class="subtitle">20. marec 1849</h3>
        <div class="body">
          <p>Slovenská delegácia, ktorú vedie J. Kozáček, odovzdáva panovníkovi v Olomouci Prosbopis Slovákov o uznanie slovenského
          národa a provincionálne osamostatnenie Slovenska.</p>
        </div>
        <h3 class="subtitle">22. marca 1849</h3>
        <div class="body">
          <p>
            <em>„My sme prošli a probili se celým Slovenskem. Oni s našimi dobrovolníky rozestaveni jsou teď po Spiši, Šariši a
            Abajujváre. Bloudek s hlavní sílou v Košicech... Pracovali sme dost – bodejž by to bylo k čemu... Náš národ sa hodne učí
            boji, zbroji a takýmto prácem. To přece nevyhyne a nezmizí.“</em><br>
            Ľ. Štúr, 22.marec 1849, list J. V. Fričovi
          </p>
        </div>
        <h3 class="subtitle">Koniec marca 1849</h3>
        <div class="body">
          <p>Maďarská armáda začína úspešnú protiofenzívu a do začiatku mája vytláča cisársku armádu z územia Uhorska.</p>
        </div>
        <h3 class="subtitle">14. apríl 1849</h3>
        <div class="body">
          <p>Uhorský snem v Debrecíne vyhlasuje úplnú samostatnosť Uhorska, zvrháva Habsburgovcov z trónu a Košúta vymenúva
          guvernérom.</p>
        </div>
      </div>
      <div class="entry">
        <div class="images">
          <img src="/assets/images/kalendarium/1849-2-ruske vojsko-pri-bratislave-GMB_A_336.jpg" alt="" class="drop-shadow"><br>
          <img src="/assets/images/kalendarium/1849-3-gorgey-kapituluje-GMB_C_8071.jpg" alt="" class="drop-shadow">
        </div>
        <h2 class="title half">Letná výprava 1849</h2>
        <h3 class="subtitle">10. máj 1849</h3>
        <div class="body">
          <p>Formovanie nového slovenského dobrovoľníckeho zboru v Skalici.</p>
          <p><em>„My se hotujeme k novému tažení. Chceme a postavíme teď s Hurbanem 20 000 dobrovolníku, kteří mají být Slovensky národně
          ošacení a dokonale do tažení vojenského vystrojeni.“</em><br>
          L. Štúr, 11. máj 1849
          </p>
        </div>
        <h3 class="subtitle">21. máj 1849</h3>
        <div class="body">
          <p>Cisár František Jozef I. podpisuje vo Varšave s ruským cárom Mikulášom I. dohodu o ruskej vojenskej pomoci pri potlačení
          maďarskej revolúcie. Ruské jednotky už začiatkom júna obsadzujú Košice.</p>
          <p>Slovenský dobrovoľnícky zbor skladá v Rači prísahu vernosti panovníkovi za prítomnosti Ľ. Štúra, J. M. Hurbana a M.M.
          Hodžu.</p>
        </div>
        <h3 class="subtitle">26. júl 1849</h3>
        <div class="body">
          <p>J. M. Hurban, Ľ. Štúr a J. Bórik vydávajú v Skalici <em>„Prihlas ku slovenskjemu narodu“</em>, vyzývajúci do boja za národné
          práva po boku slovenských dobrovoľníkov.</p>
        </div>
        <h3 class="subtitle">13. august 1849</h3>
        <div class="body">
          <p>Kapitulácia maďarskej armády pri Világoši (pri Arade, dnešné Maďarsko). Vojsko pod vedením generála A. Gorgeya skladá
          zbrane do rúk Rusov. Cisárska generalita v Uhorsku reaguje tvrdým potrestaním povstalcov. Postupne je popravených asi
          120 vojenských a politických predstaviteľov maďarskej revolúcie.</p>
        </div>
        <h3 class="subtitle">September – október 1849</h3>
        <div class="body">
          <p>Od 29. septembra 1849 sa Ľ. Štúr, J.M. Hurban, J.Bórik a ďalší sa zdržiavajú vo Viedni, odkiaľ sa vracajú domov 13.
          októbra. Počas pobytu vo Viedni spolupracujú s deputáciami slovenských krajov, ktoré predkladajú slovenské národné
          požiadavky.</p>
        </div>
        <h3 class="subtitle">7. október 1849</h3>
        <div class="body">
          <p>Približne 100 členná delegácia odovzdáva panovníkovi petíciu za zriadenie slovenskej korunnej krajiny, čím sa uzatvára
          petičné hnutie.</p>
        </div>
        <h3 class="subtitle">21. november 1849</h3>
        <div class="body">
          <p>Slávnostné rozpustenie slovenského dobrovoľníckeho zboru v Bratislave.</p>
        </div>
        <h3 class="subtitle">12. december 1849</h3>
        <div class="body">
          <p>Barón Lewartowski, bývalý veliteľ slovenského dobrovoľníckeho zboru odporúča J. M. Hurbana, Ľ. Štúra, M.M. Hodžu a J.
          Bórika do štátnych úradov.</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>