<ion-header no-border>
  <ion-toolbar align-title="left">
    <ion-title>
      <div text-left>
      MÚZEUM SLOVENSKÝCH<br>
      NÁRODNÝCH RÁD
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content has-header="true" padding center text-center fullscreen>
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col>
        <a [routerLink]="'/osobnosti'" class="no-underline">
          <h2>
            OSOBNOSTI
          </h2>
          <img src="assets/images/intro/Mask Group 1@3x.png" alt="osobnosti" class="circle">
        </a>
      </ion-col>
      <ion-col>
        <a [routerLink]="'/dokumenty'" class="no-underline">
          <h2>
            DOKUMENTY
          </h2>
          <img src="assets/images/intro/Group 2@3x.png" alt="dokumenty" class="circle">
        </a>
      </ion-col>
    </ion-row>
    <ion-row justify-content-end>
      <ion-col>
        <img src="assets/images/intro/Mask Group 3@3x.png" alt="štátne symboly" class="circle">
        <h2>
          ŠTÁTNE
          SYMBOLY
        </h2>
      </ion-col>
      <ion-col>
        <img src="assets/images/intro/Mask Group 4@3x.png" alt="kalendárium" class="circle">
        <h2>
          KALENDÁRIUM
        </h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
