<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <div text-left>
      MÚZEUM SLOVENSKÝCH<br>
      NÁRODNÝCH RÁD
      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-row justify-content-center align-items-center style='height: 100%'>
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col size="6">
        <a [routerLink]="'/osobnosti'" class="no-underline" id="osobnosti">
          <!-- <img src="assets/images/home/osobnosti.svg" alt="" class="heading"> -->
          <img src="assets/images/home/osobnosti.png" alt="osobnosti" class="circle drop-shadow">
          <h2>OSOBNOSTI</h2>
        </a>
      </ion-col>
      <ion-col size="6">
        <a [routerLink]="'/dokumenty'" class="no-underline" id="dokumenty">
          <!-- <img src="assets/images/home/dokumenty.svg" alt="" class="heading"> -->
          <img src="assets/images/home/dokumenty.png" alt="dokumenty" class="circle drop-shadow">
          <h2>DOKUMENTY</h2>
        </a>
      </ion-col>
    </ion-row>
    <ion-row justify-content-end>
      <ion-col size="6">
        <a [routerLink]="'/statne-symboly'" class="no-underline" id="statne-symboly">
          <!-- <img src="assets/images/home/statne-symboly.svg" alt="" class="heading"> -->
          <img src="assets/images/home/statne-symboly.png" alt="štátne symboly" class="circle drop-shadow">
          <h2>ŠTÁTNE SYMBOLY</h2>
        </a>
      </ion-col>
      <ion-col size="6">
        <a [routerLink]="'/kalendarium'" class="no-underline" id="kalendarium">
          <!-- <img src="assets/images/home/kalendarium.svg" alt="" class="heading"> -->
          <img src="assets/images/home/kalendarium.png" alt="kalendárium" class="circle drop-shadow">
          <h2>KALENDÁRIUM</h2>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-row>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons slot="end" color="secondary">
      <ion-button [routerLink]="'/info'" text-right padding-bottom color="secondary">
        INFO
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>